---
import HeaderSection from './sections/header.section.astro';
import ProjectsSection from './sections/projects.section.astro';
---

<section id="projects">
    <HeaderSection />
    <div class="mt-8">
        <ProjectsSection />
    </div>
</section>
