---
import BlogCards from './ui/blog-cards.astro';
---

<section id="blogs" class="max-w-5xl mx-auto px-8 mt-10 md:mt-20 relative">
    <div>
        <h1 class="font-bold text-3xl md:text-5xl md:leading-tight text-zinc-50 max-w-3xl">
            All of my<span class="text-cyan-500"> Technical Knowledge</span> in one place
        </h1><p
            class="text-zinc-400 text-sm md:text-base max-w-2xl mt-8 md:leading-loose tracking-wide"
        >
            I'm obsessed with writing code. I'm also obsessed with writing. Here, I write about my
            experiences with code and the things I've learned along the way.
        </p>
    </div>
    <div class="mt-20">
        <BlogCards />
    </div>
</section>
