---
import BlogCard from './blog-card.astro';
import { fetchMediumBlogs } from '../utils/fetch-medium-blogs';

const mediumBlogs = await fetchMediumBlogs();
---

<div class="flex max-w-3xl flex-col space-y-16">
    {mediumBlogs.map((blog) => <BlogCard blog={blog} />)}
</div>
