---
import about from '@/data/about.json';
---

<section id="about" class="max-w-5xl mx-auto mt-10 md:mt-20 px-8">
    <h1 class="font-bold text-3xl md:text-5xl leading-tight text-zinc-50 max-w-3xl">
        I'm a software engineer who loves to <span class="text-cyan-500">write code.</span>
    </h1>
    <p class="text-zinc-400 text-sm md:text-base max-w-2xl mt-8 leading-loose tracking-wide">
        {about.intro}
    </p>
</section>
