---
import BlogCard from '@/components/blogs/ui/blog-card.astro';
import about from '@/data/about.json';
import { fetchMediumBlogs } from '@/components/blogs/utils/fetch-medium-blogs';

const mediumBlogs = await fetchMediumBlogs();
const homePageBlogs = mediumBlogs.slice(0, 2);
---

<div class="max-w-5xl mx-auto px-8 grid grid-cols-1 lg:grid-cols-3 gap-10 mt-20 md:mt-40">
    <div class="col-span-2">
        <div class="">
            <div class="flex max-w-3xl flex-col space-y-16">
                {homePageBlogs.map((blog) => <BlogCard blog={blog} />)}
            </div>
        </div>
    </div>

    <div>
        <h2 class="font-bold text-zinc-50 mb-2">Uses</h2>
        {
            about.hardware.map(({ name, description }) => (
                <div class="my-8">
                    <h3 class="text-base mb-2 font-bold text-zinc-100">{name}</h3>
                    <p class="text-sm text-zinc-400 leading-5">{description}</p>
                </div>
            ))
        }
    </div>
</div>
