---
import { OpenSourceCards } from '../../contributions/ui/open-source-cards';
---

<section id="projects">
    <h1 class="text-2xl md:text-3xl text-white font-bold max-w-5xl mx-auto px-8 mt-40">
        Latest contributions to open source
    </h1>
    <OpenSourceCards client:load />
</section>
