---
import HeaderSection from './sections/header.section.astro';
import ContributionsSection from './sections/contributions.section.astro';
---

<section id="projects">
    <HeaderSection />
    <div class="mt-8">
        <ContributionsSection />
    </div>
</section>
