<div class="max-w-5xl mx-auto px-8 mt-10 md:mt-20 relative">
    <h1 class="font-bold text-3xl md:text-5xl md:leading-tight text-zinc-50 max-w-3xl">
        Committing Code and Crimes Against<span class="text-cyan-500"> Open Source World</span>
    </h1><p
        class="text-zinc-400 text-sm md:text-base max-w-2xl mt-8 md:leading-loose tracking-wide"
    >
        A place where you can witness my caffeinated coding adventures and see just how much coffee
        it takes to fuel my commits. from my first "Hello World" to my latest breakthrough, and
        everything in between.
    </p>
</div>
