<form class="content flex flex-col bg-zinc-800 p-6">
    <label class="mb-2 text-sm font-normal text-zinc-400"> Email Address </label>
    <input
        type="email"
        class="mb-1 rounded-md border border-zinc-700 bg-zinc-800 px-2 py-1 text-zinc-400 placeholder:text-sm focus:border-gray-400 focus:outline-none"
        placeholder="johndoe@xyz.com"
    />
    <small class="h-4 min-h-4 font-semibold text-red-500"></small>
    <label class="mb-2 text-sm font-normal text-zinc-400">Message</label>
    <textarea
        rows={3}
        class="mb-1 rounded-md border border-zinc-700 bg-zinc-800 px-2 py-1 text-zinc-400 placeholder:text-sm focus:border-gray-400 focus:outline-none"
        placeholder="I'd love a compliment from you."></textarea>
    <small class="mb-4 h-4 min-h-4 font-semibold text-red-500"></small>
    <button
        class="mb-4 w-full rounded-md border-2 border-zinc-800 bg-zinc-700 px-4 py-2 text-sm font-normal text-zinc-100 transition duration-200 hover:shadow-none md:py-4"
    >
        Submit
    </button>
    <small class="mb-4 h-4 min-h-4"></small>
</form>
