---
import { Image } from 'astro:assets';
import SocialLinks from '@/components/layout/ui/social-links.astro';
import AvatarImage from '@/assets/avatar.webp';
import about from '@/data/about.json';
---

<div
    class="max-w-5xl mx-auto px-8 md:mt-20 relative flex flex-col md:flex-row space-y-10 md:space-y-0 md:space-x-10 justify-between"
>
    <div>
        <h1 class="font-bold text-3xl md:text-5xl md:leading-tight text-zinc-50 max-w-3xl">
            Hey! I'm<span class="text-cyan-500"> {about.name}</span> and I'm a full stack soap engineer.
        </h1>

        {
            about.description.map((desc) => (
                <p class="text-zinc-400 text-sm md:text-base max-w-2xl mt-8 md:leading-loose tracking-wide">
                    {desc}
                </p>
            ))
        }
    </div>
    <div class="order-first md:order-last">
        <Image
            class={'rounded-2xl'}
            src={AvatarImage}
            alt="Avatar"
            loading={'lazy'}
            width={200}
            height={200}
        />

        <SocialLinks />
    </div>
</div>
