---
interface Props {
    year: string;
    events: string[];
}

const { year, events } = Astro.props;
---

<div class="border-b border-zinc-800">
    <h1 class="text-xl font-bold text-zinc-200 my-8 relative">
        <div
            class="h-3 md:h-4 w-3 md:w-4 border-2 border-cyan-500 bg-zinc-800 rounded-full absolute -left-[20px] md:-left-[46px] top-2 md:top-1"
        >
        </div>{year}
    </h1>
    <div class="mb-8">
        {
            events.map((event) => (
                <div class="flex flex-row space-x-2 items-start my-2">
                    <svg
                        stroke="currentColor"
                        fill="none"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        class="text-cyan-500 mt-[3px] flex-shrink-0"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                    </svg>
                    <span class="text-zinc-400 text-sm md:text-base">{event}</span>
                </div>
            ))
        }
    </div>
</div>
