---
import Navbar from '@/components/layout/navbar.astro';
import Footer from '@/components/layout/footer.astro';
import { ClientRouter } from 'astro:transitions';
import '@/styles/globals.css';
import Contact from '@/components/layout/contact.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/avatar.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Geetesh Laddha</title>
        <slot name="seo" />
        <ClientRouter />
    </head>
    <body>
        <main class="bg-zinc-900 min-h-[calc(100vh-15rem)]">
            <Navbar />

            <slot />

            <Contact />
        </main>
        <Footer />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
